<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="be.magdyabdel.wandz">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ChooseYourWand"></activity>
        <activity android:name=".GameExplanation" />
        <activity android:name=".WandExplanation" />
        <activity android:name=".Intro" />
        <activity android:name=".LearnTheGestures" />

        <service
            android:name=".BLEService"
            android:stopWithTask="false" />

        <activity
            android:name=".Menu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MultiplayerConnect"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChangeProfileIcon"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MasterPassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MasterConnect"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyWand"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Multiplayer"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Trainingmode"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChooseName"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Start"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>